 .u-section-1 {
  background-image: none;
  min-height: 125px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px 290px 60px auto;
}

.u-section-1 .u-group-elements-1 {
  width: 161px;
  min-height: 62px;
  height: auto;
  margin: 32px auto 0 50px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  margin: 0 5px 0 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 2.75em;
  vertical-align: -21px;
  margin-left: 28px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 1.25rem;
  margin: -35px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 50px;
  margin: -56px 50px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 666px;
  margin: -44px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 39px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 41px auto 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-list-1 {
    width: 328px;
    margin-top: -46px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2)  + -41px);
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -163px;
    margin-left: calc(((100% - 540px) / 2)  + -35px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2)  + 50px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 267px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 109px;
  }

  .u-section-1 .u-icon-1 {
    width: 38px;
    height: 38px;
    margin: 35px auto 0 30px;
    padding: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: calc(((100% - 340px) / 2)  + -35px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -44px;
    margin-right: 30px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-line-1 {
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  border-style: solid !important;
  border-bottom-width: 3px !important;
  border-color: #ff0000 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-list-item-4 {
  border-style: solid !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  border-style: solid !important;
  border-bottom-width: 3px !important;
  border-color: #ff0000 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-list-item-4 {
  border-style: solid !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  border-style: solid !important;
  border-bottom-width: 3px !important;
  border-color: #ff0000 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-list-item-3 {
  border-style: solid !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  border-style: solid !important;
  border-bottom-width: 3px !important;
  border-color: #ff0000 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-list-item-3 {
  border-style: solid !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  border-style: solid !important;
  border-bottom-width: 3px !important;
  border-color: #ff0000 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-list-item-2 {
  border-style: solid !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  border-style: solid !important;
  border-bottom-width: 3px !important;
  border-color: #ff0000 !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-list-item-2 {
  border-style: solid !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  text-decoration: underline !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  text-decoration: underline !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/image-7-modified.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-group-elements-1 {
  width: 809px;
  min-height: 120px;
  height: auto;
  margin: 277px auto 60px;
}

.u-section-2 .u-text-1 {
  font-family: Cairo;
  width: 809px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Cairo;
  width: 91px;
  margin: 12px 354px 0 364px;
}

.u-section-2 .u-text-3 {
  font-family: Cairo;
  font-size: 1.5rem;
  font-weight: 300;
  transition-duration: 0.5s;
  margin: -26px auto 0 451px;
}

.u-section-2 .u-btn-1 {
  transition-duration: 0.5s;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-family: Cairo;
  font-size: 1.5rem;
  margin: -29px 400px 0 289px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 121px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -28px;
    margin-right: 405px;
    margin-left: 303px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 703px;
    min-height: 108px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -27px;
    margin-right: 239px;
    margin-left: 395px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 352px;
    margin-left: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 398px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 276px;
    margin-left: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 205px;
    min-height: 84px;
  }

  .u-section-2 .u-text-1 {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 50px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -25px;
    margin-left: 136px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: -24px;
    margin-right: 102px;
    margin-left: 0;
  }
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #ff0000 !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #ff0000 !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  background-image: none;
  min-height: 434px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 309px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 314px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 23px 30px 0;
}

.u-section-3 .u-group-elements-1 {
  min-height: 154px;
  margin: 50px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 0 133px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 111px;
  height: 111px;
  margin: -132px 0 0 auto;
  padding: 0;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 391px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 132px;
  }

  .u-section-3 .u-icon-1 {
    margin-bottom: 21px;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 431px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 246px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 311px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 0;
    min-height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 82px;
    margin-right: 133px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -127px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 411px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-bottom: -8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 181px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-elements-1 {
    min-height: 83px;
    width: 403px;
    height: auto;
    margin: 5px 0 0 auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 23px;
    margin-right: 96px;
  }

  .u-section-3 .u-icon-1 {
    width: 83px;
    height: 83px;
    margin-top: -74px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1308px;
}

.u-section-4 .u-list-1 {
  margin: 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 1138px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 627px;
  height: 375px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 627px;
  height: 375px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 627px;
  height: 375px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  width: 627px;
  height: 375px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  margin: 30px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 983px;
  }

  .u-section-4 .u-image-1 {
    width: 525px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-4 .u-image-2 {
    width: 525px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-4 .u-image-3 {
    width: 525px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-4 .u-image-4 {
    width: 525px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 811px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2344px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 2224px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-bottom: -68px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-bottom: -68px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-bottom: -68px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-bottom: -68px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    width: 520px;
    height: 371px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-2 {
    width: 520px;
    height: 371px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-3 {
    width: 520px;
    height: 371px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-4 {
    width: 520px;
    height: 371px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1554px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1435px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 228px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 228px;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 228px;
  }

  .u-section-4 .u-image-4 {
    width: 320px;
    height: 228px;
  }
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-3.u-text-3.u-text-3:hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-3.u-text-3.u-text-3.hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-5,
.u-section-4 .u-text-5:before,
.u-section-4 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-5.u-text-5.u-text-5:hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-5.u-text-5.u-text-5.hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-7,
.u-section-4 .u-text-7:before,
.u-section-4 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-7.u-text-7.u-text-7:hover {
  color: #ff0000 !important;
}

.u-section-4 .u-text-7.u-text-7.u-text-7.hover {
  color: #ff0000 !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-4,
.u-section-4 .u-image-4:before,
.u-section-4 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-5 {
  background-image: none;
  min-height: 330px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(5, 20%);
  grid-auto-columns: 20%;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px 16px;
}

.u-section-5 .u-image-1 {
  height: 158px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px 16px;
}

.u-section-5 .u-image-2 {
  height: 158px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px 16px;
}

.u-section-5 .u-image-3 {
  height: 158px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px 16px;
}

.u-section-5 .u-image-4 {
  height: 158px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 30px 16px;
}

.u-section-5 .u-image-5 {
  height: 158px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 181px;
    grid-auto-columns: 413.328px 413.328px 413.328px;
  }

  .u-section-5 .u-image-1 {
    height: 219px;
  }

  .u-section-5 .u-image-2 {
    height: 219px;
  }

  .u-section-5 .u-image-3 {
    height: 219px;
  }

  .u-section-5 .u-image-4 {
    height: 219px;
  }

  .u-section-5 .u-image-5 {
    height: 219px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(5, 20%);
    grid-auto-columns: 20%;
  }

  .u-section-5 .u-image-1 {
    height: 173px;
  }

  .u-section-5 .u-image-2 {
    height: 173px;
  }

  .u-section-5 .u-image-3 {
    height: 173px;
  }

  .u-section-5 .u-image-4 {
    height: 173px;
  }

  .u-section-5 .u-image-5 {
    height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-5 .u-image-1 {
    height: 205px;
  }

  .u-section-5 .u-image-2 {
    height: 205px;
  }

  .u-section-5 .u-image-3 {
    height: 205px;
  }

  .u-section-5 .u-image-4 {
    height: 205px;
  }

  .u-section-5 .u-image-5 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 355px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 355px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 355px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 355px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 355px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 218px;
  }

  .u-section-5 .u-image-2 {
    height: 218px;
  }

  .u-section-5 .u-image-3 {
    height: 218px;
  }

  .u-section-5 .u-image-4 {
    height: 218px;
  }

  .u-section-5 .u-image-5 {
    height: 218px;
  }
}.section-1 {
   position: fixed;
    width: 100%;
    z-index: 100;
}